@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
/* 
  0 -> 575 | 576 -> 767 | 768 - 991 | 992 - 1199 | 1200 -> 1499
*/
.container {
  width: 100%;
  border-right: 2px solid rgb(103, 0, 0);
  border-left: 2px solid rgb(103, 0, 0);
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 992px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.header {
  background: lightcoral;
}
.header__container {
}

.header__nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.burger {
  display: block;
  position: relative;
  z-index: 3;
  height: 18px;
  width: 30px;
}
.burger__stick-one,
.burger__stick-three {
  position: absolute;
  height: 2px;
  background-color: white;
  width: 30px;
  transition: .2s;
}
.burger__stick-one {
  top: 0;
}
.burger__stick-three {
  top: 16px;
}

.header__list {
  display: none;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.header.active .header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: nowrap column;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #00000067;
}
.header.active .header__list a {
  font-size: 1.9777rem;
  transition: .35s;
}
.header.active .header__list a:hover {
  color: white;
}

.header.active .burger__stick-one {
  transform: rotate(45deg);
  transform-origin: 12%;
  height: 3px;
  background: black;
}

.header.active .burger__stick-three {
  transform: rotate(-45deg);
  transform-origin: 12%;
  height: 3px;
  background: black;
}

@media (min-width: 992px) {
  .burger {
    display: none;
  }
  .header__list {
    display: flex;
    gap: 50px;
  }
  .header__list a {
    font-size: 1.3rem;
    color: white;
  }
  .header__list a:hover {
    text-decoration: underline;
  }
}

/* 
.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
*/
