.tagContainer {
  display: flex;
  align-items: center;
  flex-flow: wrap row;
  justify-content: space-around;
  background: rgb(99, 99, 191);
  font-size: 1.3rem;
  min-height: 65px;
  border-bottom: 5px solid rgb(196, 211, 235);
}

.tagLink {
  transition: .3s;
  color: rgb(196, 211, 235);
}
.tagLink:hover {
  text-decoration: underline;
}

.thingGrid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

@media (min-width: 552px) {
  .thingGrid {
    grid-template-columns: 1fr 1fr;
  }
  .imgContainer {
    padding: 0;
  }
}

@media (min-width: 992px) {
  .thingGrid {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
  }
}
